.confirm-changes, .cancel-changes, .editing-account {
    transition: all 0.3s ease;
}

.editing-account:hover {
    background: #da983c;
}

.confirm-changes:hover {
    background-color: #be211c;
}

.cancel-changes:hover {
    background-color: #646060;
}